version: "3.2"

services:
  docker-registry:
    labels:
      traefik.docker.network: traefik_public
      traefik.enable: 'true'
      traefik.frontend.rule: Host:[registry.{{domain}}]
      traefik.port: '5000'
    image: registry:2.5.0
    volumes:
      - {{docker_conf_path}}/Docker-auth/certs:/certs
      - /opt/registry:{{docker_conf_path}}/Docker-registry
    environment:
      REGISTRY_LOG_LEVEL: warn
      REGISTRY_STORAGE_DELETE_ENABLED: 'true'
      REGISTRY_AUTH: token
      REGISTRY_AUTH_TOKEN_REALM: https://token.{{domain}}/auth
      REGISTRY_AUTH_TOKEN_SERVICE: Docker registry
      REGISTRY_AUTH_TOKEN_ISSUER: Acme auth server
      REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE: /certs/fullchain.pem
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        failure_action: pause
#      restart_policy:
#        condition: on-failure
#        delay: 5s
#        max_attempts: 3
#        window: 120s
      placement:
        constraints: [node.role == manager]

networks:
  traefik_public:
    external: true
