-----BEGIN CERTIFICATE-----
MIIDTjCCAjYCCQD7GGXhVZIJKDANBgkqhkiG9w0BAQsFADBpMQswCQYDVQQGEwJG
UjEOMAwGA1UECAwFUGFyaXMxDjAMBgNVBAcMBVBhcmlzMQ0wCwYDVQQKDARBQ01F
MRYwFAYDVQQLDA1JVCBEZXBhcnRtZW50MRMwEQYDVQQDDApbdzAwdC5vdmhdMB4X
DTE5MDUyMzIwMDcxNloXDTE5MDYyMjIwMDcxNlowaTELMAkGA1UEBhMCRlIxDjAM
BgNVBAgMBVBhcmlzMQ4wDAYDVQQHDAVQYXJpczENMAsGA1UECgwEQUNNRTEWMBQG
A1UECwwNSVQgRGVwYXJ0bWVudDETMBEGA1UEAwwKW3cwMHQub3ZoXTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBAOd534HJx9pkLmhi9Od82qXGqrqbZZXx
GkOFxFHi6PA9Yr+ats8ZZFLcwDIxFul2vfTH1Z9ccmmQ3a6lK8FIqzbChDj+svsL
Gpf6xXnJZXLT8VUh74sPmhDTLtTFu28ApohWM5RV9il2ngIT7FtL9XRiVACwsLcs
E6S8OxvCKlRwA6qYdrlSrH6BjIcZUo8azHhhbSK25h521U7KU2LiyX4i3QkhXQic
ttVYasHqflpJRBYOsiJc2Adw7URuDQJvwAQFb8NjVCW1lC27wlrwJii9DZfz3TuL
JRA1u+V6yODwMcHFW420Xu0W/JJz4hUljKHruUKpYLMHMbA+roPZKlkCAwEAATAN
BgkqhkiG9w0BAQsFAAOCAQEAZJhMqYENiK2mhv5QSknkAxb6OgzaXM7saDzG6tT/
gOV+Ij9TBE/Nt6unfPIcB+YR+yW6D/8hYEAsMQ4879ROT+y5VXQSoFZrye4Gvf37
rUB+zprkVTP7rj9T2MzCzBXOtxgcyJNH5kfks2Gvo9WZwYTjt+/LHW45D4si+aQZ
iXXThrpIHIE7HjCTeCc+5MoTzoL8Ylols3lX0M/KRvn782NR4y/Yjc01kBnDp32k
E4ck6TS+m9gtcjq/mSRMOsWgtW5DNBE9FFc3JLVOffirKCLxHAwnIpYqp5WDwW57
fZoIhaoI+oPZ0JKP85f6xn5e4S1jgiI21VJ01veCao+jdQ==
-----END CERTIFICATE-----