db:
    path: diun.db
  
  watch:
    workers: 10
    schedule: "0 * * * *"
    first_check_notif: true
  
  notif:
    slack:
      enable: true
      webhook_url: "{{ slack_channel }}"
  
  providers:
    swarm:
      # Watch all services on local Swarm cluster
      myswarm:
        watch_by_default: true
