version: "3.7"

services:
  bazarr:
    image: linuxserver/bazarr:latest
    environment:
      - PGID=100
      - PUID=1024
      - TZ=Europe/Paris
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - config:/config
    - tv:/tv
    - tv-archive:/tv-archive
    - movies:/movies/Movies
    - m2018:/movies/2018
    - ok:/movies/OK
    - July2016:/movies/July2016
      
    networks:
      - traefik_network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.bazarr-unsecure.rule=Host(`brr.{{domain}}`)"
        - "traefik.http.routers.bazarr-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.bazarr-unsecure.entrypoints=http"
        - "traefik.http.routers.bazarr.rule=Host(`brr.{{domain}}`)"
        - "traefik.http.routers.bazarr.tls=true"
        - "traefik.http.routers.bazarr.tls.certresolver=myresolver"
        - "traefik.http.routers.bazarr.entrypoints=https"
        - "traefik.http.routers.bazarr.service=bazarr"
        - "traefik.http.services.bazarr.loadbalancer.server.port=6767"
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

networks:
  traefik_network:
    external: true

volumes:
  tv:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{tv_remote_path}}"
  tv-archive:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS2}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{tv_archive_remote_path}}"
  movies:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{video_remote_path}}Movies"
  m2018:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{video_remote_path}}2018"
  July2016:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{video_remote_path}}July2016"
  ok:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{video_remote_path}}OK"
  config:
    driver_opts:
      type: "nfs"
      o: "addr={{NFS}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/data/Bazarr"