version: "3.2"

services:
  registry:
    restart: always
    image: registry:2.6
    volumes:
      - registry:/var/lib/registry
    environment:
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
      REGISTRY_HTTP_TLS_CERTIFICATE: "{{docker_conf_path}}/SSL/cert.crt"
      REGISTRY_HTTP_TLS_KEY: "{{docker_conf_path}}/SSL/privkey.key"
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
      REGISTRY_AUTH_HTPASSWD_PATH: /run/secrets/registry_htpasswd
    networks:
      - traefik_public
    secrets:
      - registry_htpasswd
    deploy:
      mode: 'global'
      #placement:
      #  constraints:
      #    - 'node.hostname == docker-registry'
      labels:
        - "traefik.port=5000"
        - "traefik.docker.network=traefik_public"
        - "traefik.frontend.entryPoints=http,https"
        - "traefik.frontend.redirect.entryPoint=https"
        - "traefik.frontend.rule=Host:registry.{{domain}}"

volumes:
  registry:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw"
      device: ":/{{docker_remote_path}}Registry"

networks:
  traefik_public:
    external: true

secrets:
  registry_htpasswd:
    external: true