version: "3.7"

services:
  emby:
    image: emby/embyserver:latest
    environment:
      - GID=100
      - UID=1024
      - GIDLIST=27
      - TZ=Europe/Paris
    ports:
      - target: 8096
        published: 8096
        protocol: tcp
        mode: host
    devices:
      - /dev/dri/renderD128:/dev/dri
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /mnt/nfs/Emby:/config
    - tv-archive:/tv-archive
    - music:/music
    - private:/mnt/private
    - video:/mnt/video
    - anime:/mnt/anime
      
    networks:
      - traefik_network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==docker.{{domain}}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.emby-unsecure.rule=Host(`emby.{{domain}}`)"
        - "traefik.http.routers.emby-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.emby-unsecure.entrypoints=http"
        - "traefik.http.routers.emby.rule=Host(`emby.{{domain}}`)"
        - "traefik.http.routers.emby.tls=true"
        - "traefik.http.routers.emby.entrypoints=https"
        - "traefik.http.routers.emby.service=emby"
        - "traefik.http.services.emby.loadbalancer.server.port=8096"
      resources:
        limits:
          memory: 4096M
        reservations:
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

networks:
  traefik_network:
    external: true

volumes:
  tv-archive:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,hard,rw,timeo=600,vers=4.1"
      device: ":/{{tv_archive_remote_path}}"
  music:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS2}},nolock,hard,rw,timeo=600,vers=4.1"
      device: ":/{{music_remote_path}}"
  private:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS2}},nolock,hard,rw,timeo=600,vers=4.1"
      device: ":/{{private_remote_path}}"
  video:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,hard,rw,timeo=600,vers=4.1"
      device: ":/{{video_remote_path}}"
  anime:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,hard,rw,timeo=600,vers=4.1"
      device: ":/{{anime_remote_path}}"