version: "3.2"

services:
  heimdall:
    image: linuxserver/heimdall
    networks:
      - internal
      - traefik_public
    environment:
      - PGID=100
      - PUID=1024
      - TZ=Europe/Paris
    volumes:
    - {{docker_conf_path}}/Heimdall:/config
    deploy:
      labels:
        - traefik.frontend.rule=Host:start.w00t.ovh
        - traefik.port=80
        - traefik.enable=true
      placement:
        constraints: [node.role == worker]
      restart_policy:
        condition: on-failure

networks:
  traefik_public:
    external: true
  internal:
    driver: overlay
    ipam:
      config:
        - subnet: 172.16.11.0/24