version: "3.7"
services:

  db:
    image: mariadb:10.2
    networks:
      - traefik_network
    command:
      - "mysqld"
      - "--sql-mode="
      - "--innodb-file-per-table=1"
      - "--lower-case-table-names=0"
      - "--character-set-server=utf8"
      - "--collation-server=utf8_unicode_ci"
    volumes:
      - "db:/var/lib/mysql"
    environment:
      - "MYSQL_ALLOW_EMPTY_PASSWORD=yes"
      - "MYSQL_DATABASE=librenms"
      - "MYSQL_USER={{librenms_mysql_user}}"
      - "MYSQL_PASSWORD={{librenms_mysql_password}}"
      - "SMTP_SERVER=mail.{{domain}}"
      - "SMTP_USERNAME={{librenms_smtp_user}}"
      - "SMTP_PASSWORD={{librenms_smtp_password}}"
      - "TZ=Europe/Paris"
      - "PUID=1024"
      - "PGID=100"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

  memcached:
    image: memcached:alpine
    networks:
      - traefik_network
    environment:
      - "MYSQL_DATABASE=librenms"
      - "MYSQL_USER={{librenms_mysql_user}}"
      - "MYSQL_PASSWORD={{librenms_mysql_password}}"
      - "SMTP_SERVER=mail.{{domain}}"
      - "SMTP_USERNAME={{librenms_smtp_user}}"
      - "SMTP_PASSWORD={{librenms_smtp_password}}"
      - "TZ=Europe/Paris"
      - "PUID=1024"
      - "PGID=100"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

  rrdcached:
    image: crazymax/rrdcached
    networks:
      - traefik_network
    volumes:
      - "rrd:/data/db"
      - "rrd-journal:/data/journal"
    environment:
      - "LOG_LEVEL=LOG_INFO"
      - "WRITE_TIMEOUT=1800"
      - "WRITE_JITTER=1800"
      - "WRITE_THREADS=4"
      - "FLUSH_DEAD_DATA_INTERVAL=3600"
      - "MYSQL_DATABASE=librenms"
      - "MYSQL_USER={{librenms_mysql_user}}"
      - "MYSQL_PASSWORD={{librenms_mysql_password}}"
      - "SMTP_SERVER=mail.{{domain}}"
      - "SMTP_USERNAME={{librenms_smtp_user}}"
      - "SMTP_PASSWORD={{librenms_smtp_password}}"
      - "TZ=Europe/Paris"
      - "PUID=1024"
      - "PGID=100"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

  smtp:
    image: juanluisbaptiste/postfix
    networks:
      - traefik_network
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    environment:
      - "SERVER_HOSTNAME=librenms.{{domain}}"
      - "MYSQL_DATABASE=librenms"
      - "MYSQL_USER={{librenms_mysql_user}}"
      - "MYSQL_PASSWORD={{librenms_mysql_password}}"
      - "SMTP_SERVER=mail.{{domain}}"
      - "SMTP_USERNAME={{librenms_smtp_user}}"
      - "SMTP_PASSWORD={{librenms_smtp_password}}"
      - "TZ=Europe/Paris"
      - "PUID=1024"
      - "PGID=100"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

  librenms:
    image: librenms/librenms:latest
    networks:
      - traefik_network
    domainname: "{{domain}}"
    hostname: librenms
    depends_on:
      - db
      - memcached
      - rrdcached
      - smtp
    volumes:
      - "librenms:/data"
    environment:
      - "APP_URL=https://librenms.{{domain}}"
      - "DB_HOST=db"
      - "DB_NAME=librenms"
      - "DB_USER={{librenms_mysql_user}}"
      - "DB_PASSWORD={{librenms_mysql_password}}"
      - "DB_TIMEOUT=60"
      - "MYSQL_DATABASE=librenms"
      - "MYSQL_USER={{librenms_mysql_user}}"
      - "MYSQL_PASSWORD={{librenms_mysql_password}}"
      - "SMTP_SERVER=mail.{{domain}}"
      - "SMTP_USERNAME={{librenms_smtp_user}}"
      - "SMTP_PASSWORD={{librenms_smtp_password}}"
      - "TZ=Europe/Paris"
      - "PUID=1024"
      - "PGID=100"
      - "MEMORY_LIMIT=1024M"
      - "UPLOAD_MAX_SIZE=16M"
      - "OPCACHE_MEM_SIZE=128"
      - "REAL_IP_FROM=0.0.0.0/32"
      - "REAL_IP_HEADER=X-Forwarded-For"
      - "LOG_IP_VAR=http_x_forwarded_for"
      - "LIBRENMS_POLLER_THREADS=16"
      - "LIBRENMS_POLLER_INTERVAL=5"
      - "LIBRENMS_CRON_DISCOVERY_ENABLE=true"
      - "LIBRENMS_CRON_DAILY_ENABLE=true"
      - "LIBRENMS_CRON_ALERTS_ENABLE=true"
      - "LIBRENMS_CRON_BILLING_ENABLE=true"
      - "LIBRENMS_CRON_BILLING_CALCULATE_ENABLE=true"
      - "LIBRENMS_CRON_CHECK_SERVICES_ENABLE=true"
      - "LIBRENMS_CRON_POLLER_ENABLE=true"
      - "LIBRENMS_CRON_SNMPSCAN_ENABLE=true"
      - "LIBRENMS_CRON_SNMPSCAN_NETS=192.168.20.0/24"
      - "LIBRENMS_CRON_SNMPSCAN_LOGFILE=/data/logs/snmp-scan.log"
      - "LIBRENMS_SNMP_COMMUNITY=public"
      - "MEMCACHED_HOST=memcached"
      - "MEMCACHED_PORT=11211"
      - "RRDCACHED_HOST=rrdcached"
      - "RRDCACHED_PORT=42217"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.librenms-unsecure.rule=Host(`librenms.{{domain}}`)"
        - "traefik.http.routers.librenms-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.librenms-unsecure.entrypoints=http"
        - "traefik.http.routers.librenms.rule=Host(`librenms.{{domain}}`)"
        - "traefik.http.routers.librenms.tls=true"
        - "traefik.http.routers.librenms.tls.certresolver=myresolver"
        - "traefik.http.routers.librenms.entrypoints=https"
        - "traefik.http.routers.librenms.service=librenms"
        - "traefik.http.services.librenms.loadbalancer.server.port=8000"
      resources:
        limits:
          memory: 4096M
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

  cron:
    image: librenms/librenms:latest
    networks:
      - traefik_network
    domainname: "{{domain}}"
    hostname: librenms
    depends_on:
      - librenms
    volumes:
      - "librenms:/data"
    environment:
      - "DB_HOST=db"
      - "DB_NAME=librenms"
      - "DB_USER={{librenms_mysql_user}}"
      - "DB_PASSWORD={{librenms_mysql_password}}"
      - "DB_TIMEOUT=60"
      - "SIDECAR_CRON=1"
      - "MYSQL_DATABASE=librenms"
      - "MYSQL_USER={{librenms_mysql_user}}"
      - "MYSQL_PASSWORD={{librenms_mysql_password}}"
      - "SMTP_SERVER=mail.{{domain}}"
      - "SMTP_USERNAME={{librenms_smtp_user}}"
      - "SMTP_PASSWORD={{librenms_smtp_password}}"
      - "TZ=Europe/Paris"
      - "PUID=1024"
      - "PGID=100"
      - "MEMORY_LIMIT=256M"
      - "UPLOAD_MAX_SIZE=16M"
      - "OPCACHE_MEM_SIZE=128"
      - "REAL_IP_FROM=0.0.0.0/32"
      - "REAL_IP_HEADER=X-Forwarded-For"
      - "LOG_IP_VAR=http_x_forwarded_for"
      - "LIBRENMS_POLLER_THREADS=16"
      - "LIBRENMS_POLLER_INTERVAL=5"
      - "LIBRENMS_CRON_DISCOVERY_ENABLE=true"
      - "LIBRENMS_CRON_DAILY_ENABLE=true"
      - "LIBRENMS_CRON_ALERTS_ENABLE=true"
      - "LIBRENMS_CRON_BILLING_ENABLE=true"
      - "LIBRENMS_CRON_BILLING_CALCULATE_ENABLE=true"
      - "LIBRENMS_CRON_CHECK_SERVICES_ENABLE=true"
      - "LIBRENMS_CRON_POLLER_ENABLE=true"
      - "LIBRENMS_CRON_SNMPSCAN_ENABLE=true"
      - "LIBRENMS_CRON_SNMPSCAN_NETS=192.168.20.0/24"
      - "LIBRENMS_CRON_SNMPSCAN_LOGFILE=/data/logs/snmp-scan.log"
      - "LIBRENMS_SNMP_COMMUNITY=public"
      - "MEMCACHED_HOST=memcached"
      - "MEMCACHED_PORT=11211"
      - "RRDCACHED_HOST=rrdcached"
      - "RRDCACHED_PORT=42217"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

  syslog-ng:
    image: librenms/librenms:latest
    networks:
      - traefik_network
    domainname: "{{domain}}"
    hostname: librenms
    depends_on:
      - librenms
    ports:
      - target: 514
        published: 514
        protocol: tcp
      - target: 514
        published: 514
        protocol: udp
    volumes:
      - "librenms:/data"
    environment:
      - "DB_HOST=db"
      - "DB_NAME=librenms"
      - "DB_USER={{librenms_mysql_user}}"
      - "DB_PASSWORD={{librenms_mysql_password}}"
      - "DB_TIMEOUT=60"
      - "SIDECAR_SYSLOGNG=1"
      - "MYSQL_DATABASE=librenms"
      - "MYSQL_USER={{librenms_mysql_user}}"
      - "MYSQL_PASSWORD={{librenms_mysql_password}}"
      - "SMTP_SERVER=mail.{{domain}}"
      - "SMTP_USERNAME={{librenms_smtp_user}}"
      - "SMTP_PASSWORD={{librenms_smtp_password}}"
      - "TZ=Europe/Paris"
      - "PUID=1024"
      - "PGID=100"
      - "MEMORY_LIMIT=256M"
      - "UPLOAD_MAX_SIZE=16M"
      - "OPCACHE_MEM_SIZE=128"
      - "REAL_IP_FROM=0.0.0.0/32"
      - "REAL_IP_HEADER=X-Forwarded-For"
      - "LOG_IP_VAR=http_x_forwarded_for"
      - "LIBRENMS_POLLER_THREADS=16"
      - "LIBRENMS_POLLER_INTERVAL=5"
      - "LIBRENMS_CRON_DISCOVERY_ENABLE=true"
      - "LIBRENMS_CRON_DAILY_ENABLE=true"
      - "LIBRENMS_CRON_ALERTS_ENABLE=true"
      - "LIBRENMS_CRON_BILLING_ENABLE=true"
      - "LIBRENMS_CRON_BILLING_CALCULATE_ENABLE=true"
      - "LIBRENMS_CRON_CHECK_SERVICES_ENABLE=true"
      - "LIBRENMS_CRON_POLLER_ENABLE=true"
      - "LIBRENMS_CRON_SNMPSCAN_ENABLE=true"
      - "LIBRENMS_CRON_SNMPSCAN_NETS=192.168.20.0/24"
      - "LIBRENMS_CRON_SNMPSCAN_LOGFILE=/data/logs/snmp-scan.log"
      - "LIBRENMS_SNMP_COMMUNITY=public"
      - "MEMCACHED_HOST=memcached"
      - "MEMCACHED_PORT=11211"
      - "RRDCACHED_HOST=rrdcached"
      - "RRDCACHED_PORT=42217"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

networks:
  traefik_network:
    external: true

volumes:
  db:
    driver_opts:
      type: "nfs"
      o: "addr={{NFS}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/data/librenms/db"
  rrd:
    driver_opts:
      type: "nfs"
      o: "addr={{NFS}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/data/librenms/librenms/rrd"
  rrd-journal:
    driver_opts:
      type: "nfs"
      o: "addr={{NFS}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/data/librenms/librenms/rrd-journal"
  librenms:
    driver_opts:
      type: "nfs"
      o: "addr={{NFS}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/data/librenms/librenms"