version: "3.7"

services:
  observium_map:
    image: dkrizic/observium
    environment:
      - OBSERVIUM_BASE_URL=https://observium.{{domain}}
      - OBSERVIUM_DB_PASS={{observium_db_pass}}
      - OBSERVIUM_DB_NAME=observium
      - OBSERVIUM_ADMIN_USER=admin
      - OBSERVIUM_DB_HOST=observium_db
      - OBSERVIUM_ADMIN_PASS={{observium_pass}}
      - OBSERVIUM_DB_USER=observium
      - TZ=Europe/Paris
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /storage/Observium/logs:/opt/observium/logs
    - /storage/Observium/rrds:/opt/observium/rrd
      
    networks:
      - traefik_network
    #depends_on:
    #  - observium_db
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role==worker
          - node.hostname==docker.{{domain}}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.observium-unsecure.rule=Host(`observium.{{domain}}`)"
        - "traefik.http.routers.observium-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.observium-unsecure.entrypoints=http"
        - "traefik.http.routers.observium.rule=Host(`observium.{{domain}}`)"
        - "traefik.http.routers.observium.tls=true"
        - "traefik.http.routers.observium.entrypoints=https"
        - "traefik.http.routers.observium.service=observium"
        - "traefik.http.services.observium.loadbalancer.server.port=80"
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s
  observium_db:
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD={{observium_mysql_root_pass}}
      - MYSQL_PASSWORD={{observium_mysql_pass}}
      - MYSQL_USER=observium
      - MYSQL_DATABASE=observium
      - TZ=Europe/Paris
      - GOSU_VERSION=1.10
      - GPG_KEYS=177F4010FE56CA3336300305F1656F24C74CD1D8
      - MARIADB_MAJOR=10.4
      - MARIADB_VERSION=1:10.4.8+maria~bionic
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /storage/Observium/config:/var/lib/mysql
      
    networks:
      - traefik_network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role==worker
          - node.hostname==docker.{{domain}}
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s


networks:
  traefik_network:
    external: true

