version: "3.7"

services:
  registry:
    restart: always
    image: registry:2.6
    volumes:
      - registry:/var/lib/registry
    networks:
      - traefik_network
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.registry-unsecure.rule=Host(`registry.{{domain}}`)"
        - "traefik.http.routers.registry-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.registry-unsecure.entrypoints=http"
        - "traefik.http.routers.registry.rule=Host(`registry{{domain}}`)"
        - "traefik.http.routers.registry.tls=true"
        - "traefik.http.routers.registry.entrypoints=https"
        - "traefik.http.services.registry.loadbalancer.server.port=5000"

volumes:
  registry:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw"
      device: ":/{{docker_remote_path}}Registry"

networks:
  traefik_network:
    external: true