version: "3.7"

services:
  sabnzbd:
    image:  linuxserver/sabnzbd:latest
    environment:
      - PGID=100
      - PUID=1024
      - TZ=Europe/Paris
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - config:/config
    - downloads:/downloads
    - incomplete:/incomplete-downloads
    - ssl:/ssl
      
    networks:
      - traefik_network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==docker.{{domain}}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.sabnzbd-unsecure.rule=Host(`sn.{{domain}}`)"
        - "traefik.http.routers.sabnzbd-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.sabnzbd-unsecure.entrypoints=http"
        - "traefik.http.routers.sabnzbd.rule=Host(`sn.{{domain}}`)"
        - "traefik.http.routers.sabnzbd.tls=true"
        - "traefik.http.routers.sabnzbd.entrypoints=https"
        - "traefik.http.routers.sabnzbd.service=sabnzbd"
        - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

networks:
  traefik_network:
    external: true

volumes:
  config:
    driver_opts:
      type: "nfs"
      o: "addr={{NFS}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/data/Sabnzbd"
  downloads:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{downloads_remote_path}}"
  incomplete:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{incomplete_remote_path}}"
  ssl:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{docker_remote_path}}SSL"