version: "3.7"

services:
  sabnzbd:
    image:  linuxserver/sabnzbd:latest
    environment:
      - PGID=100
      - PUID=1024
      - TZ=Europe/Paris
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - config:/config
    - downloads:/downloads
    - incomplete:/incomplete-downloads
      
    networks:
      - internal
      - traefik_public
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == worker]
      labels:
        - traefik.sabnzbd.frontend.rule=Host:sn.{{domain}}
        - traefik.sabnzbd.port=8080
        - traefik.docker.network=traefik_public
        - traefik.enable=true
        - "traefik.frontend.headers.SSLRedirect=true"
        - "traefik.frontend.headers.STSSeconds=315360000"
        - "traefik.frontend.headers.browserXSSFilter=true"
        - "traefik.frontend.headers.contentTypeNosniff=true"
        - "traefik.frontend.headers.forceSTSHeader=true"
        - "traefik.frontend.headers.SSLHost={{domain}}"
        - "traefik.frontend.headers.STSIncludeSubdomains=true"
        - "traefik.frontend.headers.STSPreload=true"
        - "traefik.frontend.headers.frameDeny=true"
      resources:
        limits:
          memory: 1024M
        reservations:
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

volumes:
  config:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{docker_remote_path}}Hydra2/"
  downloads:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{downloads_remote_path}}"
  incomplete:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{downloads_remote_path}}incomplete/"

networks:
  traefik_public:
    external: true
  internal:
    driver: overlay
    ipam:
      config:
        - subnet: 172.16.120.0/24
