version: "3.7"

services:
  sabnzbd:
    image:  linuxserver/sabnzbd:latest
    environment:
      - PGID=100
      - PUID=1024
      - TZ=Europe/Paris
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - /storage/Sabnzbd:/config
    - /mount/downloads:/downloads
    - /mount/incomplete-downloads:/incomplete-downloads
      
    networks:
      - traefik_network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role==worker
          - node.hostname==docker
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.sabnzbd-unsecure.rule=Host(`sn.{{domain}}`)"
        - "traefik.http.routers.sabnzbd-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.sabnzbd-unsecure.entrypoints=http"
        - "traefik.http.routers.sabnzbd.rule=Host(`sn.{{domain}}`)"
        - "traefik.http.routers.sabnzbd.tls=true"
        - "traefik.http.routers.sabnzbd.entrypoints=https"
        - "traefik.http.routers.sabnzbd.service=sn"
        - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"
      resources:
        limits:
          memory: 1024M
        reservations:
          memory: 128M
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

networks:
  traefik_network:
    external: true

