version: "3.7"

networks:
  net:
    driver: overlay
    attachable: true
  traefik_network:
    external: true

configs:
  dockerd_config:
    file: {{docker_conf_path}}/Swarmprom/Caddyfile
  node_rules:
    file: {{docker_conf_path}}/Swarmprom/swarm_node.rules.yml
  task_rules:
    file: {{docker_conf_path}}/Swarmprom/swarm_task.rules.yml

services:
  dockerd-exporter:
    image: registry.{{domain}}/sp_caddy:latest
    networks:
      - net
    environment:
      - DOCKER_GWBRIDGE_IP=172.19.0.1
    configs:
      - source: dockerd_config
        target: /etc/caddy/Caddyfile
    deploy:
      mode: global
      resources:
        limits:
          memory: 128M
          cpus: '0.5'
        reservations:
          memory: 64M
          cpus: '0.25'

  cadvisor:
    image: registry.{{domain}}/sp_cadvisor:latest
    networks:
      - net
    command: -logtostderr -docker_only
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/rootfs:ro
      - /var/run:/var/run
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    deploy:
      mode: global
      resources:
        limits:
          memory: 128M
          cpus: '1'
        reservations:
          memory: 64M
          cpus: '0.5'

  grafana:
    image: registry.{{domain}}/sp_grafana:latest
    networks:
      - net
      - default
      - traefik_network
    environment:
      - GF_SECURITY_ADMIN_USER={{swarmprom_user}}
      - GF_SECURITY_ADMIN_PASSWORD={{swarmprom_password}}
      - GF_USERS_ALLOW_SIGN_UP=false
      #- GF_SERVER_ROOT_URL=${GF_SERVER_ROOT_URL:-localhost}
      #- GF_SMTP_ENABLED=${GF_SMTP_ENABLED:-false}
      #- GF_SMTP_FROM_ADDRESS=${GF_SMTP_FROM_ADDRESS:-grafana@test.com}
      #- GF_SMTP_FROM_NAME=${GF_SMTP_FROM_NAME:-Grafana}
      #- GF_SMTP_HOST=${GF_SMTP_HOST:-smtp:25}
      #- GF_SMTP_USER=${GF_SMTP_USER}
      #- GF_SMTP_PASSWORD=${GF_SMTP_PASSWORD}
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource,grafana-piechart-panel,
    volumes:
      - "/docker/Swarmprom/grafana:/var/lib/grafana"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
          - node.hostname==docker.{{domain}}
      resources:
        limits:
          memory: 128M
          cpus: '0.25'
        reservations:
          memory: 64M
          cpus: '0.1'
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.grafana-unsecure.rule=Host(`grafana.{{domain}}`)"
        - "traefik.http.routers.grafana-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.grafana-unsecure.entrypoints=http"
        - "traefik.http.routers.grafana.rule=Host(`grafana.{{domain}}`)"
        - "traefik.http.routers.grafana.tls=true"
        - "traefik.http.routers.grafana.entrypoints=https"
        - "traefik.http.services.grafana.loadbalancer.server.port=3000"

  alertmanager:
    image: registry.{{domain}}/sp_alertmanager:latest
    networks:
      - net
      - default
      - traefik_network
    environment:
      - SLACK_URL={{slack_url}}
      - SLACK_CHANNEL={{slack_channel}}
      - SLACK_USER={{slack_user}}
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--storage.path=/alertmanager'
    volumes:
      - "/docker/Swarmprom/alertmanager:/alertmanager"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
          - node.hostname==docker.{{domain}}
      resources:
        limits:
          memory: 128M
          cpus: '0.25'
        reservations:
          memory: 64M
          cpus: '0.1'
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.alertmanager-unsecure.rule=Host(`alertmanager.{{domain}}`)"
        - "traefik.http.routers.alertmanager-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.alertmanager-unsecure.entrypoints=http"
        - "traefik.http.routers.alertmanager.rule=Host(`alertmanager.{{domain}}`)"
        - "traefik.http.routers.alertmanager.tls=true"
        - "traefik.http.routers.alertmanager.entrypoints=https"
        - "traefik.http.routers.alertmanager.service=alertmanager"
        - "traefik.http.services.alertmanager.loadbalancer.server.port=9093"

  unsee:
    image: registry.{{domain}}/sp_unsee:latest
    networks:
      - net
      - default
      - traefik_network
    environment:
      - "ALERTMANAGER_URI=http://alertmanager:9093"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          memory: 128M
          cpus: '0.25'
        reservations:
          memory: 64M
          cpus: '0.1'
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.unsee-unsecure.rule=Host(`unsee.{{domain}}`)"
        - "traefik.http.routers.unsee-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.unsee-unsecure.entrypoints=http"
        - "traefik.http.routers.unsee.rule=Host(`unsee.{{domain}}`)"
        - "traefik.http.routers.unsee.tls=true"
        - "traefik.http.routers.unsee.entrypoints=https"
        - "traefik.http.services.unsee.loadbalancer.server.port=8080"
        - "traefik.http.middlewares.auth-unsee.basicauth.users=admin:$$apr1$$Ux7zvNx5$$ohgAm9jcAtLbnyheCOekZ1"
        - "traefik.http.routers.unsee.middlewares=auth-unsee"

  node-exporter:
    image: registry.{{domain}}/sp_node-exporter:latest
    networks:
      - net
    environment:
      - NODE_ID={% raw %}{{.Node.ID}}{% endraw %} 
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /etc/hostname:/etc/nodename
    command:
      - '--path.sysfs=/host/sys'
      - '--path.procfs=/host/proc'
      - '--collector.textfile.directory=/etc/node-exporter/'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
      - '--no-collector.ipvs'
    deploy:
      mode: global
      resources:
        limits:
          memory: 128M
          cpus: '0.25'
        reservations:
          memory: 64M
          cpus: '0.1'

  prometheus:
    image: registry.{{domain}}/sp_prometheus:latest
    networks:
      - net
      - default
      - traefik_network
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=720h'
    volumes:
      - "/docker/Swarmprom/prometheus:/prometheus"
    configs:
      - source: node_rules
        target: /etc/prometheus/swarm_node.rules.yml
      - source: task_rules
        target: /etc/prometheus/swarm_task.rules.yml
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
          - node.hostname==docker.{{domain}}
      resources:
        limits:
          memory: 768M
          cpus: '1'
        reservations:
          memory: 128M
          cpus: '0.5'
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.prometheus-unsecure.rule=Host(`prometheus.{{domain}}`)"
        - "traefik.http.routers.prometheus-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.prometheus-unsecure.entrypoints=http"
        - "traefik.http.routers.prometheus.rule=Host(`prometheus.{{domain}}`)"
        - "traefik.http.routers.prometheus.tls=true"
        - "traefik.http.routers.prometheus.entrypoints=https"
        - "traefik.http.services.prometheus.loadbalancer.server.port=9090"
        - "traefik.http.middlewares.auth-prometheus.basicauth.users=admin:$$apr1$$Ux7zvNx5$$ohgAm9jcAtLbnyheCOekZ1"
        - "traefik.http.routers.prometheus.middlewares=auth-prometheus"