version: "3.2"

services:
  traefik:
    image: traefik
    command: --web --docker --docker.swarmmode --docker.watch --docker.domain=w00t.ovh --logLevel=INFO
    # Note below that we use host mode to avoid source nat being applied to our ingress HTTP/HTTPS sessions
    # Without host mode, all inbound sessions would have the source IP of the swarm nodes, rather than the
    # original source IP, which would impact logging. If you don't care about this, you can expose ports the
    # "minimal" way instead
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 8080
        published: 8081
        protocol: tcp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{docker_conf_path}}/Traefik-swarm:/etc/traefik
      - {{docker_conf_path}}/Traefik-swarm/acme.json:/acme.json
      - {{docker_conf_path}}/Traefik-swarm/traefik-swarm.toml:/traefik.toml:ro
      - {{docker_conf_path}}/Traefik-swarm/servers.toml:/servers.toml:ro
      - {{docker_conf_path}}/SSL:/etc/traefik/certs:ro
    networks:
      - traefik_public
    # Global mode makes an instance of traefik listen on _every_ node, so that regardless of which
    # node the request arrives on, it'll be forwarded to the correct backend service.
    deploy:
      labels:
        - traefik.enable=true
        - traefik.frontend.rule=Host:traefik-swarm.{{domain}}
        - traefik.docker.network=traefik_public
        - traefik.port=8080
        - traefik.frontend.auth.forward.address=http://traefik-forward-auth:4181
        - traefik.frontend.auth.forward.trustForwardHeader=true
      mode: global
      #replicas: 1
      placement:
        constraints: [node.role == manager]
      restart_policy:
        condition: on-failure
  traefik-forward-auth:
    image: chirogocki/traefik-forward-auth:latest
    env_file: {{docker_conf_path}}/Traefik-swarm/traefik-forward-auth.env
    networks:
      - traefik_public
    # Uncomment these lines if you're using auth host mode
    deploy:
      labels:
        - traefik.port=4181
        - traefik.frontend.rule=Host:auth.{{domain}}
        - traefik.frontend.auth.forward.address=http://traefik-forward-auth:4181
        - traefik.frontend.auth.forward.trustForwardHeader=true

networks:
  traefik_public:
    external: true
