version: "3.2"

services:
  traefik-forward-auth:
    image: registry.{{domain}}/traefik-forward-auth:latest
    env_file: {{docker_conf_path}}/Traefik-swarm/traefik-forward-auth.env
    networks:
      - traefik_public
    # Uncomment these lines if you're using auth host mode
    deploy:
      labels:
        - traefik.port=4181
        - traefik.frontend.rule=Host:auth.{{domain}}
        - traefik.frontend.auth.forward.address=http://traefik-forward-auth:4181
        - traefik.frontend.auth.forward.trustForwardHeader=true
      placement:
        constraints: [node.role == manager]

networks:
  traefik_public:
    external: true