version: "3.7"

services:
  ubooquity:
    image:  linuxserver/ubooquity:latest
    environment:
      - PGID=100
      - PUID=1024
      - TZ=Europe/Paris
      - MAXMEM=1024
    volumes:
    - /etc/localtime:/etc/localtime:ro
    - config:/config
    - books:/books
    - files:/files
    - comics:/comics
    - private:/private
      
    networks:
      #- internal
      - traefik_public
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == worker]
      labels:
        - traefik.admbooks.frontend.rule=Host:admbooks.{{domain}}
        - traefik.admbooks.port=2203
        - traefik.books.frontend.rule=Host:books.{{domain}}
        - traefik.books.port=2202
        - traefik.docker.network=traefik_public
        - traefik.enable=true
        - "traefik.frontend.headers.SSLRedirect=true"
        - "traefik.frontend.headers.STSSeconds=315360000"
        - "traefik.frontend.headers.browserXSSFilter=true"
        - "traefik.frontend.headers.contentTypeNosniff=true"
        - "traefik.frontend.headers.forceSTSHeader=true"
        - "traefik.frontend.headers.SSLHost={{domain}}"
        - "traefik.frontend.headers.STSIncludeSubdomains=true"
        - "traefik.frontend.headers.STSPreload=true"
        - "traefik.frontend.headers.frameDeny=true"
      resources:
        limits:
          memory: 1152M
          cpus: '4'
        reservations:
          memory: 256M
          cpus: '0.25'
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

volumes:
  config:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,hard,rw"
      device: ":/{{docker_remote_path}}UB/"
  books:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,hard,rw"
      device: ":/{{books_remote_path}}"
  files:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,hard,rw"
      device: ":/{{books_remote_path}}files"
  comics:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,hard,rw"
      device: ":/{{comics_remote_path}}"
  private:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS2}},nolock,hard,rw"
      device: ":/{{private_remote_path}}"

networks:
  traefik_public:
    external: true
  #internal:
  #  driver: overlay
  #  ipam:
  #    config:
  #      - subnet: 172.16.12.0/24
