version: "3.7"

services:
  ubooquity:
    image:  linuxserver/ubooquity:latest
    environment:
      - PGID=100
      - PUID=1024
      - TZ=Europe/Paris
      - MAXMEM=1024
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - config:/config
      - books:/books
      - files:/files
      - comics:/comics
      - private:/private
    networks:
      - traefik_network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==fractal.{{domain}}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.admbooks-unsecure.rule=Host(`admbooks.{{domain}}`)"
        - "traefik.http.routers.admbooks-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.admbooks-unsecure.entrypoints=http"
        - "traefik.http.routers.admbooks.rule=Host(`admbooks.{{domain}}`)"
        - "traefik.http.routers.admbooks.tls=true"
        - "traefik.http.routers.admbooks.tls.certresolver=myresolver"
        - "traefik.http.routers.admbooks.entrypoints=https"
        - "traefik.http.routers.admbooks.service=admbooksservice"
        - "traefik.http.services.admbooksservice.loadbalancer.server.port=2203"
        - "traefik.http.routers.books-unsecure.rule=Host(`books.{{domain}}`)"
        - "traefik.http.routers.books-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.books-unsecure.entrypoints=http"
        - "traefik.http.routers.books.rule=Host(`books.{{domain}}`)"
        - "traefik.http.routers.books.tls=true"
        - "traefik.http.routers.books.tls.certresolver=myresolver"
        - "traefik.http.routers.books.entrypoints=https"
        - "traefik.http.routers.books.service=booksservice"
        - "traefik.http.services.booksservice.loadbalancer.server.port=2202"
      resources:
        limits:
          memory: 2048M
        reservations:
          memory: 256M
          cpus: '0.25'
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

volumes:
  config:
    driver_opts:
      type: "nfs"
      o: "addr={{NFS}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/data/Ubooquity"
  books:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{books_remote_path}}"
  files:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{books_remote_path}}files"
  comics:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS1}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{comics_remote_path}}"
  private:
    driver_opts:
      type: "nfs"
      o: "addr={{NAS2}},nolock,soft,rw,timeo=600,vers=4.1"
      device: ":/{{private_remote_path}}Manga"

networks:
  traefik_network:
    external: true
