version: "3.7"

services:
  visualizer:
    image: charypar/swarm-dashboard
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
      
    networks:
      - traefik_network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname==docker.{{domain}}
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.visualizer-unsecure.rule=Host(`visualizer.{{domain}}`)"
        - "traefik.http.routers.visualizer-unsecure.middlewares=redirect@file"
        - "traefik.http.routers.visualizer-unsecure.entrypoints=http"
        - "traefik.http.routers.visualizer.rule=Host(`visualizer.{{domain}}`)"
        - "traefik.http.routers.visualizer.tls=true"
        - "traefik.http.routers.visualizer.entrypoints=https"
        - "traefik.http.routers.visualizer.service=visualizer"
        - "traefik.http.services.visualizer.loadbalancer.server.port=8080"
      restart_policy:
        condition: on-failure
        delay: 15s
        max_attempts: 3
        window: 120s

networks:
  traefik_network:
    external: true