# Added with Ansible :
{{NAS1}}:/{{docker_remote_path}} {{docker_conf_path}} nfs auto,_netdev,nofail 0 0
nfs.{{domain}}:/data /mnt/nfs nfs rw,hard,intr,proto=tcp,port=2049,noacl,nocto,noatime,nodiratime,noac,_netdev,nofail 0 0
