# Added with Ansible :
{{NAS1}}:/{{dietpi_user_data_share}}/{{ansible.host}} {{dietpi_home_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{docker_remote_path}} {{docker_conf_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{comics_remote_path}} {{comics_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{books_remote_path}} {{books_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{incomplete_remote_path}} {{incomplete_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{downloads_remote_path}} {{downloads_path}} nfs auto,_netdev,nofail 0 0
{{NAS2}}:/{{music_remote_path}} {{music_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{hole_remote_path}} {{hole_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{video_remote_path}} {{video_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{anime_remote_path}} {{anime_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{tv_archive_remote_path}} {{tv_archive_path}} nfs auto,_netdev,nofail 0 0
{{NAS1}}:/{{tv_remote_path}} {{tv_path}} nfs auto,_netdev,nofail 0 0
{{NAS2}}:/{{private_remote_path}} {{private_path}} nfs auto,_netdev,nofail 0 0
